*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 30px;
    color: lightskyblue;
}

p{
    margin: 20px;
    display: flex;
    padding: 30px;
    font-size: 20px;
    color: mediumaquamarine;
}

button{
    width: 75px;
}

.add{
    background-color: rgb(245, 22, 171);
    margin-right: 20px;
}

.clear{
    background-color: rgb(140, 68, 143);
}

.buttons{
    display: flex;
}