<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>formflask</title>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{session}} time(s)</p>
        <div class="buttons">
            <form action="/addtwo"><button class='add'>+2</button></form>
            <form action="/clear"><button class='clear'>Clear</button></form>
        </div>
    </div>
</body>
</html>